body{
  background-color: #5c3977;
  color: #FFF;
  text-align: center;
  font-size: 3.5em;
  font-family: 'Montserrat', sans-serif;
}

.main-area{
  display: flex;
  align-items: center;
  min-height:75vh;
  justify-content: center;

}
.full{
  width:100%
}


button{
  border-radius:15%;
  box-shadow: 10px 10px #78638f ;
  margin:10px;
  color: #78638f;
}

button:hover{

  box-shadow: none ;
  transform: translate(10px, 10px);
  color: #5c3977;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap:wrap;

}
.previewArea .row{
  align-items: flex-start;
}
.flex{
  display: flex;
}

.column {
  flex: 1;
  padding: 5px;
}

.inverse{
  color:#5c3977;
  background-color: #FFFFFF;
}

img {max-width:100%;}

.pattern-img{
  border-radius: 50%;

}
.pattern-area{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width:100%
}

.options-btn{
  background-color:#5c3977;
  max-height:100px;
  border:none;
}

.options-img{
  max-height:100px;
  border-radius:100%;
}

.game-over{
  min-height: 75vh ;
}

.modal{
  background-color: #78638f;
}
